h1 {
  text-align: center;
}

.thumbnail {
  padding: 0;
}


.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 9px;
}

.formstyle {
  width: 30%;
  margin: 0 auto;
}

#delete-form {
  display: inline;
}
